# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Напишем цикл, в котором посчитаем,
number_of_children = sorted(data['children'].unique())
debt = data['debt'].unique()
total_debt = data['debt'].count()
for amount in number_of_children:
    debt_one = data.loc[(data['children'] == amount) & (data['debt'] == 1)]['debt'].count()
    debt_zero = data.loc[(data['children'] == amount) & (data['debt'] == 0)]['debt'].count()
    print(f'При числе детей равное {amount}, процент людей, имеющих кредит равен {debt_one / total_debt:.2%}, а процент людей с погашенным кридитом равен {debt_zero / total_debt:.2%}')
    print(f'Отношение невыплаченных кредитов к погашенным {debt_one / debt_zero:.2%}')
    print(f'Выборка {debt_one + debt_zero}')

При числе детей равное 0, процент людей, имеющих кредит равен 4.98%, а процент людей с погашенным кридитом равен 61.08%
Отношение невыплаченных кредитов к погашенным 8.16%
Выборка 14091
При числе детей равное 1, процент людей, имеющих кредит равен 2.08%, а процент людей с погашенным кридитом равен 20.46%
Отношение невыплаченных кредитов к погашенным 10.17%
Выборка 4808
При числе детей равное 2, процент людей, имеющих кредит равен 0.91%, а процент людей с погашенным кридитом равен 8.71%
Отношение невыплаченных кредитов к погашенным 10.44%
Выборка 2052
При числе детей равное 3, процент людей, имеющих кредит равен 0.13%, а процент людей с погашенным кридитом равен 1.42%
Отношение невыплаченных кредитов к погашенным 8.91%
Выборка 330
При числе детей равное 4, процент людей, имеющих кредит равен 0.02%, а процент людей с погашенным кридитом равен 0.17%
Отношение невыплаченных кредитов к погашенным 10.81%
Выборка 41
При числе детей равное 5, процент людей, имеющих кредит равен 0.00%, а процент людей с погашенным кридитом равен 0.04%
Отношение невыплаченных кредитов к погашенным 0.00%
Выборка 9

**Вывод:** Из полученных данных видно, что большая часть кредиторов составляют люди без ребенка или одним, двумя детьми. И как самая большая группа состоящая из бездетных людей, имеет хороший процент выплат, по сравнению с людьми имеющими одного, двух детей. Про семьи, состоящих из более двух детей, не могу утверждать, что данные корректные, из-за малой выборки. Можно понять, почему число неоплаченных кредитов может вырасти по сравнению с увеличением числа детей, так как общие расходы семьи растут, но тогда процент должен был увеличиваться постепенно, а в этой таблице выборка из пяти и четырех детей выглядит странно. Но можно утверждать, что есть зависимость срока выалаты кредита от количества детей.

In [23]:
#Аналогичгын данные полученные выше в сводной таблице
data_grouped = data.groupby(['children','debt']).agg({'debt':'count'})
data_grouped['persent'] = data_grouped['debt'] / total_debt * 100
print(data_grouped)

                debt    persent
children debt
0        0     13028  61.075430
         1      1063   4.983358
1        0      4364  20.458488
         1       444   2.081478
2        0      1858   8.710328
         1       194   0.909474
3        0       303   1.420468
         1        27   0.126576
4        0        37   0.173456
         1         4   0.018752
5        0         9   0.042192

In [24]:

data.groupby('children').agg({'debt': ['count', 'sum', 'mean']})

           debt
          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [25]:

data_children = data.groupby('children').agg({'debt': ['count', 'sum', 'mean']})
data_children.rename(columns = {'count' : 'Выдано кредитов', 'sum' : 'Всего должников', 'mean' : 'Доля должников'}, inplace = True)
print(data_children)

                    debt
         Выдано кредитов Всего должников Доля должников
children
0                  14091            1063       0.075438
1                   4808             444       0.092346
2                   2052             194       0.094542
3                    330              27       0.081818
4                     41               4       0.097561
5                      9               0       0.000000

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
# Посмотрим какие уникальные статусы сущетсвуют
print(data['family_status'].unique())
total_family_status = data['family_status'].unique()
total_debt = data['debt'].count()
for status in total_family_status:
    debt_yes = data.loc[(data['family_status'] == status) & (data['debt'] == 1)]['debt'].count()
    debt_no = data.loc[(data['family_status'] == status) & (data['debt'] == 0)]['debt'].count()
    print(f'Отношение невыплаченных кредитов к погашенным {debt_yes / debt_no:.2%} для семейного положения {status}')

['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']
Отношение невыплаченных кредитов к погашенным 8.18% для семейного положения женат / замужем
Отношение невыплаченных кредитов к погашенным 10.27% для семейного положения гражданский брак
Отношение невыплаченных кредитов к погашенным 7.09% для семейного положения вдовец / вдова
Отношение невыплаченных кредитов к погашенным 7.60% для семейного положения в разводе
Отношение невыплаченных кредитов к погашенным 10.82% для семейного положения Не женат / не замужем

**Вывод:** Из данных видим, что чаще всего кридиты не выплачивают группы "Не женат / не замужем" и "гражданский брак", а лучшими кредиторами явлются люди в разводе или вдовы с довцами.

In [27]:
#Сводная таблица
data_grouped = data.groupby(['family_status','debt']).agg({'debt':'count'})
data_grouped['persent'] = data_grouped['debt'] / total_debt * 100
print(data_grouped)

                             debt    persent
family_status         debt
Не женат / не замужем 0      2523  11.827856
                      1       273   1.279827
в разводе             0      1105   5.180254
                      1        84   0.393793
вдовец / вдова        0       888   4.162955
                      1        63   0.295345
гражданский брак      0      3749  17.575360
                      1       385   1.804885
женат / замужем       0     11334  53.133937
                      1       927   4.345788

In [28]:

data_children = data.groupby('family_status').agg({'debt': ['count', 'sum', 'mean']})
data_children.rename(columns = {'count' : 'Выдано кредитов', 'sum' : 'Всего должников', 'mean' : 'Доля должников'}, inplace = True)
print(data_children)

                                 debt
                      Выдано кредитов Всего должников Доля должников
family_status
Не женат / не замужем            2796             273       0.097639
в разводе                        1189              84       0.070648
вдовец / вдова                    951              63       0.066246
гражданский брак                 4134             385       0.093130
женат / замужем                 12261             927       0.075606

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
print(data['total_income_category'].unique())
#0–30000 — 'E';
#30001–50000 — 'D';
#50001–200000 — 'C';
#200001–1000000 — 'B';
#1000001 и выше — 'A'.
total_income_categorys = sorted(data['total_income_category'].unique())
total_debt = data['debt'].count()
for category in total_income_categorys:
    debt_yes = data.loc[(data['total_income_category'] == category) & (data['debt'] == 1)]['debt'].count()
    debt_no = data.loc[(data['total_income_category'] == category) & (data['debt'] == 0)]['debt'].count()
    print(f'Отношение невыплаченных кредитов к погашенным {debt_yes / debt_no:.2%} для категории доходов {category}')

['B' 'C' 'D' 'E' 'A']
Отношение невыплаченных кредитов к погашенным 8.70% для категории доходов A
Отношение невыплаченных кредитов к погашенным 7.60% для категории доходов B
Отношение невыплаченных кредитов к погашенным 9.29% для категории доходов C
Отношение невыплаченных кредитов к погашенным 6.40% для категории доходов D
Отношение невыплаченных кредитов к погашенным 10.00% для категории доходов E

**Вывод:** Люди с высоким и средним доходм выплачивают креды вовремя чаще чем люди с низким доходм, за исключением группы людей, у которых доход выше среднего, возможно к этой группе относятся малый бизнес, где люди, которые пытаються увеличить свой доход за счет открытия собственого бизнеса, но за счет сильно увеличивающих затрат, становиться категориально похожи на людей с низким доходом.

In [30]:

data_children = data.groupby('total_income_category').agg({'debt': ['count', 'sum', 'mean']})
data_children.rename(columns = {'count' : 'Выдано кредитов', 'sum' : 'Всего должников', 'mean' : 'Доля должников'}, inplace = True)
print(data_children)

                                 debt
                      Выдано кредитов Всего должников Доля должников
total_income_category
A                                  25               2       0.080000
B                                5014             354       0.070602
C                               15921            1353       0.084982
D                                 349              21       0.060172
E                                  22               2       0.090909

Благодаря данной сводной таблице видим, что у нас малопредставленны группы с высокой заработной платой и зарплатой ниже среднего. Либо банк не орентирован на таких клиентов, либо в целом данные категории людей редко берут кредиты. По двум самым большим выборкам можем сделать вывод, что люди с большим достатком реже берут кредиты, но возращают они их в срок чаще, чем люди с меньшим достатком.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [31]:
print(data['purpose_category'].unique())
#display(data)
purpose_categorys = sorted(data['purpose_category'].unique())
total_debt = data['debt'].count()
for category in purpose_categorys:
    debt_yes = data.loc[(data['purpose_category'] == category) & (data['debt'] == 1)]['debt'].count()
    debt_no = data.loc[(data['purpose_category'] == category) & (data['debt'] == 0)]['debt'].count()
    print(f'Отношение невыплаченных кредитов к погашенным {debt_yes / debt_no:.2%} для категории доходов {category}')
    print(f'Выборка {debt_yes + debt_no}')

['операции с недвижимостью' 'операции с автомобилем'
 'получение образования' 'проведение свадьбы']
Отношение невыплаченных кредитов к погашенным 10.31% для категории доходов операции с автомобилем
Выборка 4279
Отношение невыплаченных кредитов к погашенным 7.82% для категории доходов операции с недвижимостью
Выборка 10751
Отношение невыплаченных кредитов к погашенным 10.20% для категории доходов получение образования
Выборка 3988
Отношение невыплаченных кредитов к погашенным 8.59% для категории доходов проведение свадьбы
Выборка 2313

**Вывод:** Лучше всего оплачиваются кредиты в срок связанные с недвижимостью, хуже всего автмобильные и образовательные категории. Возможно, высокий процент закрытия кредитов по недвижимости связан с требованиями банков и суммы в них участвывающие, так как из всех категорий, которые сюда входят там будут займы на самые большие суммы, и для более обеспеченных людей и фирм. Свадьба не такое затратное мероприятие как покупка автомобиля и образование, возможно, поэтому это второй по успешности закрытия кредит.

In [32]:

data_children = data.groupby('purpose_category').agg({'debt': ['count', 'sum', 'mean']})
data_children.rename(columns = {'count' : 'Выдано кредитов', 'sum' : 'Всего должников', 'mean' : 'Доля должников'}, inplace = True)
print(data_children)

                                    debt
                         Выдано кредитов Всего должников Доля должников
purpose_category
операции с автомобилем              4279             400       0.093480
операции с недвижимостью           10751             780       0.072551
получение образования               3988             369       0.092528
проведение свадьбы                  2313             183       0.079118

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Было одинаково недостаточно данных по двум столбцам: стажу и ежемесячный доход. Вероятно, что данные были изначально не заполненны, так как мы имеем равное количество отсутсвующих данных, возможно планировалось взять эту у клиентов позже.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В данном случае мы заменяли пропуски медмнным значением в столбце со стажем людей, здесь было взято медианное значение, а не среднее так как и в премере с директором из курса, может присутствоват силшком большой разброс по стажу между разными людьми, и среднем арефметическом может это не учитывать, из-за чего данные станут менее корректными.

### Шаг 4: общий вывод.

На основании выше полученных данных, были сделаны следующие выводы:
1. Семьи с меньшим количеством детей чаще погащают кредиты в срок.
2. Одинокие люди чаще погащают кредиты в срок
3. Люди с с доходом выше среднего чаще погащают кредиты в срок.
4. Люди берущие кредиты на недвижиность и проведение свадьбы погасят свои кредиты раньше нежели люди, получившие кредиты на автотранспорт или образование.

<font color='blue'>Обновленный вывод</font>

Для анализа данных была представлена таблица из кредитного отдела банка с информацией о: количестве детей в семье, общем трудовом стаже в днях, возрасте клиента в годах, уровене образования клиента, семейном положении, поле клиента, типе занятости,  имел ли клиент задолженность по возврату кредитов, ежемесячный доход, цели получения кредита.

На этапе предобработки данных пустные значениях в столбцах: общий трудовой стаж и ежемесячный доход были заменены мединым значением соответсвующих столбцов, также была обработы аномалии, встретивщиеся в колонке с числом детей в семье.

На основании выше полученных данных, были сделаны следующие выводы:
1. Семьи с меньшим количеством детей чаще погащают кредиты в срок.
2. Одинокие люди чаще погащают кредиты в срок
3. Люди с с доходом выше среднего чаще погащают кредиты в срок.
4. Люди берущие кредиты на недвижиность и проведение свадьбы погасят свои кредиты раньше нежели люди, получившие кредиты на автотранспорт или образование.